<section class="heading-section">

    <h1 class="title is-1 has-text-centered">Todos App</h1>

</section>

<div class="container add-todo-box-container">
    <div class="add-todo-box">

        <form>
    
            <h2 class="title is-5">New Todo</h2>
            <div class="field is-grouped" style="margin: 0;">
                <p class="control is-expanded" style="width: 50px;">
                  <input minlength="2" name="title" class="input" type="text" placeholder="Type todo text here... ">
                </p>
                <p class="control is-expanded">
                    <textarea name="description" class="input" type="text" placeholder="Type todo description text here... "></textarea>
                </p>
                <p class="control">
                    <button class="button alt-gradient-button" type="submit">
                            <span class="material-icons">
                            add
                            </span>
                        Add
                    </button>
                </p>
            </div>

        </form>
    </div>

</div>

<section class="section">
    <div class="container">

        <div class="todos-list">

            <app-todo-item 
                *ngFor="let todo of todos; let i = index" 
                [todo]="todo"
                (todoClicked)="toggleCompleted(i)"
                class="item"
            ></app-todo-item>

            
        </div>

    </div>
</section>  
