<div class="todo-item" [routerLink]="[index]" [class.completed]="todo.completed">
    <div class="check-box" (click)="onTodoClicked()">
        <span class="material-icons">
            check
        </span>
    </div>

    <div class="todo-text">
        {{ todo.title }}
    </div>

    <div class="todo-controls-box" (click)="$event.stopPropagation()">

        <div class="todo-control-button">
            <span class="material-icons">
                edit
            </span>
        </div>
        <div class="todo-control-button is-danger">
            <span class="material-icons" (click)="ondeleteClecked()">
                delete
            </span>
        </div>

    </div>

</div>
